@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  box-sizing: border-box;
}
nav {
  margin-top: 1rem;
}
.header {
  margin: 0 auto;
  width: 70%;
}
.name {
  text-align: center;
  font-weight: 700;
  margin: 1rem;
}
.email {
  text-align: center;
  margin: 0.5rem;
}
.class-course {
  text-align: center;
  margin: 0.1rem;
  font-size: 0.8rem;
}
.main-content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content img {
  width: 25rem;
  height: auto;
  border: 0.5rem antiquewhite solid;
  border-radius: 1rem;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  transform: scale(0.7);
}
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-me h1 {
  letter-spacing: 0.1rem;
  line-height: 2rem;
  font-size: 2rem;
  margin: 0.625rem 0;
}
.about-me h2 {
  margin-top: 0.5rem;
}
.about-me p {
  margin-top: 1rem;
}
